@model ProjeCore.Models.Birim
@{
    ViewData["Title"] = "AddUnit";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br />
<h3>Add New Unit</h3>

<form class="form-group" method="post">
    <b>Unit Name</b>
    @Html.TextBoxFor(x => x.BirimAd, new { @class = "form-control" }) @*DeparmentName->name gibi çalışır*@
    <br />
    <button class="btn btn-info">Add Unit</button>
</form>